@import '../base/variables';
@import '../base/mixins';

.podcast-detail__container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 20px;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    @include respond-to(small) {
        flex-direction: column;
    }
}
